# MySQL configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=mysql-db        # keep as 'mysql-db' for Docker, change to 'localhost' if running locally
MYSQL_PORT=3306
MYSQL_HOST_PORT=3307

# MongoDB configuration
MONGO_URI=mongodb://mongodb:27017    # keep as 'mongodb' for Docker, change to 'localhost' if running locally
MONGO_DB=your_mongo_database_name
ANALYTICS_COLLECTION=your_collection_name
MONGO_PORT=27017

# Authentication configuration
JWT_SECRET=your_jwt_secret_key
TOKEN_TTL_SECONDS=3600

# Service ports
AUTH_SERVICE_PORT=5001
ENTER_DATA_PORT=5000
ANALYTICS_PORT=5004
ANALYTICS_SERVICE_PORT=5004

# Service URLs
AUTH_SERVICE_URL=http://auth-service:5001    # Change 'auth-service' to 'localhost' if running locally


# Flask configuration
FLASK_DEBUG=false
SHOW_RESULTS_PORT=5002